body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: rgb(255,9,141);
    background: linear-gradient(29deg, rgba(255,9,141,1) 25%, rgba(255,255,255,1) 100%);
    
  }

  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent; /* Hacemos que el fondo sea transparente */
    border: none; /* Eliminamos el borde */
    box-shadow: none; /* Eliminamos la sombra */
}

  
  /* .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: start;
  }
  
  
  
  